* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bottom-spacing {
    margin-bottom: 10px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.primary-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8; 
}

.secondary-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;

}

.subtext {
    font-size: 18px;
    color: #e5e7eba9;
}

.text-color-alternative {
    color: #5f6163;
}

.boost-text {
    font-weight: bolder;
}

.primary-button {
    background-color: #3b82f6;
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
    color:#F9FAF8;
}

.primary-button:hover {
    cursor: pointer;
    background-color: #126af7;
}

.secondary-button {
    background-color: #3882F6;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px #F9FAF8 solid;
    color:#F9FAF8;
}

.header {
    background-color: #1F2937;
}

.navbar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 490px;
}

.navbar ul {
    align-items: center;
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.navbar ul li a {
    color: #e5e7eba9;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #F9FAF8;
}

.main-content {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 80px;
    gap: 85px;

}

.main-left {
    max-width: 450px;
}

.main-right img {
    width: 450px;
    height: 250px;
    transition: transform .05s;
    
}

.main-right img:hover {
    transform: scale(0.99);
    cursor: pointer;
}

.img-galery {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
}

.cards-wrap {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 30px

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}

.card img {
    height: 200px;
    width: 200px;
    border: 3px #5f6163 solid;
    border-radius: 20px;
    transition: transform .05s;
    
}

.card img:hover {
    transform: scale(0.99);
    cursor: pointer;
}

.card-text {
    width: 220px;
}

.testimonials {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.tertiary-text {
    font-size: 36px;
    font-style: italic;
    width: 800px;
}

.tertiary-subtext {
    margin-left: 600px;
    color: #1F2937;

}
